#productInCartBox {
  width: 88vw;
  height: auto;
  margin-top: 3vh;
  margin-left: 5vw;
  display: flex;
}

#productInCartBox img {
  width: 100%;
  height: auto;
  margin-left: 2vw;
}

#productInCartBoxImage {
  width: 10%;
}

#productInCartBoxMain {
  width: 80%;
  margin-left: 3vw;
}

#productCountBox {
  font-family: Bahnschrift, Arial, sans-serif;
  width: 20%;
  height: auto;
  font-size: 1.5rem;
  display: flex;
  border-radius: 10px;
  border: solid #B15DA8 2px;
}

.section {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.section.minus {
  border-radius: 10px 0 0 10px;
  border-right: solid #B15DA8 2px;
}
.section.plus {
  border-radius: 0 10px 10px 0;
  border-left: solid #B15DA8 2px;
}

.section.minus:hover, .section.plus:hover {
  cursor: pointer;
}

.section:first-child {
  border-left: none;
}

.section:last-child {
  border-right: none;
}


#productInCartBoxPrice {
  width: 10%;
  position: relative;
}

#productInCartBoxPrice h1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

#productInCartBoxPrice h2 {
  position: absolute;
  bottom: 5vh;
  right: 0;
}

hr {
  margin-left: 5vw;
  margin-right: 5vw ;
  height: 0.2vh;
  background-color: #1d1d1f;
  border: none;
}
