#backToTop {
  position: fixed;
  background: white;
  border-radius: 0 0 10px 10px;
  right: 2%;
  bottom: 15vh;
  opacity: 0;
  transition: opacity 1s ease;
}

#backToTop img {
  width: 5vw;
  height: 10vh;
}

#backToTop.visible {
  opacity: 1;
}

footer {
  font-size: 1.25vw;
  width: 100%;
  min-height: 5vh;
  background: #B15DA8;
  font-family: Bahnschrift, Arial, sans-serif;
  color: #f5f5f7;
  padding: 2vw 0;
}

#links, #rights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#links p, #rights p {
  margin: 1vw;
}

#links p {
  font-size: 1.5em;
}
