* {
  margin-bottom: -1%;
  font-family: Bahnschrift, Arial, sans-serif;
}

a:hover {
  cursor: pointer;
}

#doesNotExist {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  margin-top: 3vh;
  width: 90vw;
  margin-left: 5vw;
}

main > img {
  width: 20vw;
  height: auto;
  margin: 2% 5% 5% 1%;
}

#morePics {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

#morePics img {
  margin-bottom: 2vh;
  border-radius: 10px;
}

#morePics img:first-child {
  margin-top: auto;
}

#morePics img:last-child {
  margin-bottom: auto;
}

#heart {
  width: 3%;
  height: 3%;
}

.rating {
  display: flex;
  margin-top: 1%;
}

.rating img {
  width: 5%;
  height: 5%;
}

.rating p {
  margin-top: 1.1%;
  font-family: Bahnschrift, Arial, sans-serif;
  font-size: 3vh;
}

#rightSide h2 {
  font-family: Bahnschrift, Arial, sans-serif;
  font-size: 3vh;
}

#twoButtons {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

#orderbutton {
  width: 18.75vw;
  height: 6vw;
  border-radius: 10px;
  background: #B15DA8;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#orderbutton h2 {
  font-family: Bahnschrift, Arial, sans-serif;
  font-size: 2vh;
}

#orderbutton h1, #infoButton h1 {
  font-family: Bahnschrift, Arial, sans-serif;
  font-size: 3.3vh;
}

#preOrder {
  margin-bottom: -15%;
  margin-left: -2%;
  width: 100%;
}

#price {
  margin-bottom: 3%;
}

#infoButton {
  font-family: Bahnschrift, Arial, sans-serif;
  width: 18.75vw;
  height: 12vh;
  border-radius: 10px;
  border: 3px #B15DA8 solid;
  display: flex;
    justify-content: space-around;
    align-items: center;
}
