<div class="productBox">
  <img [src]="productInterface.image"/>
  <h3>{{productInterface.series}}</h3>
  <h1>{{productInterface.name}}</h1>
  <a [routerLink]="['/product', this.productInterface.productId]"><div class="detailButton">
    @if (productInterface.preOrder) {
      <h2>Pre Order</h2>
    } @else {
      <h2>Buy Now</h2>
    }
    @if (productInterface.sale) {
      <div style="display: flex; margin-left: 20%; width: 60%; justify-content: space-evenly">
        <s><h2>{{productInterface.price}}€</h2></s>
        <br>
        <h1>{{productInterface.price * productInterface.saleReduction}}€</h1>
      </div>
      <div id="saleBox">
        <h3>SALE {{Math.round((1 - productInterface.saleReduction)*100)}}% OFF</h3>
      </div>
    } @else {
      <h1>{{productInterface.price}}€</h1>
    }
  </div></a>
</div>
